/* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/inter-v11-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/inter-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
      box-sizing: border-box;
  }

  *, *::before *::after {
      box-sizing: inherit;
  }

  body{
      font-family: 'Inter';
      font-style: normal;
      font-size: 16px;
      line-height: 28px;
      color: #656464;
      font-weight: 400;
  }
  .wrapper {
      max-width: 1180px;
      margin: 0 auto;
      width: 100%;
  }

  .header {
      position: sticky;
      z-index: 2;
      top: 0;
      border-bottom: 1px solid rgba(33, 123, 244, 0.1);
      background: linear-gradient(311.76deg, #D4E7FE, #FFFFFF);
      padding: 0 20px;
  }





  html {
    scroll-behavior: smooth;
   }
   

  .header_content {
      display: flex;
      width: 100%;
      align-items: center;
      height: 94px;
  }

  .header_logo {
      margin-right: 72px;
  }

  .header_logo a{
      display: flex;
      align-items: center;
  }

  .header_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
  }

  .header_list {
      display: flex;
      
  }

  .header_item {
      margin-right: 32px;
  }

  .header_link {
    font-size: 14px;
    line-height: 14px;
    color: #2B2B39;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
  }

  .header_link:hover, .header_link:focus{
      color: #217BF4;
  }

  .search_login {
    display: flex;
    align-items: center;
}

.searchbar {
  padding-left: 20px;
  margin-right: 42px;
  border: 1px #217BF4;
  border-radius: 14px;
  max-width: 123px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E5E5E5;
  font-weight: 400;
  font-size: 12px;
  background: transparent url(../img/svg/search_icon.svg) no-repeat left;
  counter-reset: #686868;
  transition: 0.3s;
}

.searchbar:hover {
    background-color: white;
    border: 1px #217BF4 solid;
    border-radius: 14px;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.searchbar:focus-within {
    outline: none;
}

.searchbar::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #686868;
}

.login_btn {
    width: 123px;
    height: 50px;
    border: 1px #217BF4 solid;
    background-color: #217BF4;
    border-radius: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.login_btn.visible {
    display: none;
}

.login_btn:focus-visible {
    outline: none;
}

.signup_btn:focus-visible {
    outline: none;
}

.login_btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #217BF4;
    box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}


@media screen and (max-width: 769px) {
    .burger_menu {
        min-width: 50px;
        min-height: 50px;
        position: relative;
        background-color: white;
        z-index: 3;
        border-radius: 15px;
        transition: 0.5s;
    }
    .burger_menu:hover {
        background-color: #217BF4;
    }

    .burger_menu span {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 22%;
        top: 50%;
        background-color: #217BF4;
    }
    .burger_menu span:nth-of-type(2) {
        top: calc(50% - 10px);
    }
    .burger_menu span:nth-of-type(3) {
        top: calc(50% + 10px);
    }
   
    .burger_menu:hover span {
        background-color: white;
    }

    .header_nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 230px;
        background-color: #217BF4;
        z-index: 1;
        align-items: flex-end;
        justify-content: center;
        transition: 0.5s;
    }

    .header_nav.active {
        top: 0;
    }

    .header_item{
       background-color: #171648;
       border-radius: 15px;
       padding: 25px 25px;
       margin: 20px 3px 25px 0px;
    }

    .header_link {
        color: #FFFFFF;
    }
    header::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: linear-gradient(311.76deg, #D4E7FE, #FFFFFF);
        z-index: 3;
    }
    .header_logo {
        position: relative;
        z-index: 4;
    }
    .search_login {
        position: absolute;
        left: 30%;
        z-index: 5;
    }
    .header_content {
        justify-content: space-between;
    }
    .header_logo {
        margin-right: 0;
    }

    .search_login {
        position: relative;
        left: 0;
    }
}
/* INTRO */


  .intro {
      background: linear-gradient(311.76deg, #D4E7FE, #FFFFFF);
      background-size: cover;
      padding: 72px 20px 0 20px;
  }



  .netbook_community_btn {
      border: 0;
      background-color: rgba(33, 123, 244, 0.1);
      border-radius: 8px;
      color: #217BF4;
      margin-top: 53px;
      margin-bottom: 20px;
      padding: 12px 29px;
      max-width: 177px;
      cursor: pointer;
      }

  .intro_title {
      display: flex;
      max-width: 515px;
      font-weight: 700;
      font-size: 56px;
      color: #0A093D;
      line-height: 66px;
      margin-bottom: 18px;
  }

  .intro_subtitle {
      max-width: 491px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #656464;
    margin-bottom: 42px;
  }

  .intro_content {
      display: flex;
      justify-content: space-between;
  }

  .intro_left_content {
      display: flex;
      flex-direction: column;
  }

.intro_two_btn {
    margin-bottom: 82px;
}

  .button_one {
      padding: 24px 42px;
      border: 1px #217BF4 solid;
      margin-right: 18px;
      background-color: #217BF4;
      border-radius: 16px;
      font-weight: 400;
      font-size: 14px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
  }

.button_one:hover {
    background-color: transparent;
    color: #217BF4;
}

  .button_two {
      padding: 24px 42px;
      border: 1px #217BF4 solid;
      border-radius: 16px;
      background-color: transparent;
      font-weight: 500;
      font-size: 14px;
      color: #217BF4;
      cursor: pointer;
      transition: 0.5s;
  }

  .button_two:hover {
      background-color: #217BF4;
      color: #fff;
  }

  .intro_img {
      max-width: 586px;
      width: 100%;
      margin-bottom: 82px;
  }

  @media screen and (max-width: 769px) {
      .intro_content {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .intro_img_cont {
        display: flex;
        justify-content: center;
      }

      .netbook_community_btn {
          margin-top: 10px;
      }
      .about_company_content {
          flex-direction: column;
      }
      .achievements_cont {
          flex-direction: column;
          justify-content: center;}
          .intro_left_content {
            align-items: center;
        }
        .intro_title {
            text-align: center;
        }
        .intro_subtitle {
            text-align: center;
      }
    }
    
  .about_company {
      margin-top: 96px;
      padding: 0 20px;
  }

  .about_company_content {
      display: flex;
      margin-top: 28px;
      justify-content: space-between;
  }

  .about_company_undertitle {
      color: #217BF4;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 10px;
  }

  .about_company_text {
      margin-right: auto;
  }

  .about_company_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
      color: #0A093D;
      max-width: 406px;
      margin-bottom: 16px;
  }

  .about_company_subtitle {
      max-width: 406px;
      font-weight: 400;
      font-size: 16px;
      color: #656464;
      margin-bottom: 36px;
  }

  .list_groups li {
      list-style: circle inside;
      font-weight: 500;
      color: #171648;
      font-size: 18px;
  }

  .list_groups li::marker {
      color: blue;
  }

  .three_img {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      max-width: 561px;
  }

  .three_img > img {
    margin-right: auto;
    
  }

  .three_img > div {
      flex: 0;
  }

  


  /* Achievements */


  .achievements {
      margin-top: 21px;
  }

  .achiv_wrap {
      display: flex;
      flex-direction: column;
      margin: 42px auto auto 44px;
  }
  .rating {
      display: flex;
      max-width: 336px;
      width: 100%;
      border-radius: 14px;
      margin-top: 75px;
      margin-right: 24px;
      border: 1px  #5E5E5E28 solid;
      transition: 0.3s;
  }

  .rating:hover {
    border: 1px  #FFFFFF solid;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  }

  .rating img {
      max-width: 22.75px;
      max-height: 21.87px;
      margin-right: 10px;
  }

  .awards {
    max-width: 336px;
    width: 100%;;
    border: 1px  #5E5E5E28 solid;
    border-radius: 14px;
    margin-top: 75px;
    margin-right: auto;
    transition: 0.3s;
  }

  .awards:hover {
    border: 1px  #FFFFFF solid;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  }
  
  .achievements_cont {
      display: flex;
  }

  .our_achiv {
      padding-left: 24px;
    max-width: 357px;
    width: 100%;
    border-radius: 14px;
    margin-top: 75px;
    /* margin-left: auto; */
  }

  .achiv_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #0A093D;
    max-width: 381px;
    margin-bottom: 16px;
  }

  .blue_txt {
    color: #217BF4;
    font-weight: 600;
    margin-right: 3px;
  }

  .img_name {
      font-weight: 500;
  }
  
  .awards img{
      height: 28px;
      width: 28px;
      margin-right: 10px;
  }

  .awards_circle {
    width: 50px;
  }

  .rating_title {
      font-size: 20px;
      font-weight: 500;
      color: #0A093D;
      line-height: 20px;
  }

  .row_img_text {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
  }

  .img_people {
      width: 60px;
      height: 24px;
  }

  .row_img_text_two {
    display: flex;
    height: 24px;
    align-items: center;
    margin-bottom: 40px;
}

.achiv_paragraph {
    max-width: 274px;
    color: #8C8C8C;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
}

.join_link {
    text-decoration: none;
    color: #217BF4;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 40px;
}

.best_of {
    font-size: 16px;
    font-weight: 400;
    color: #5D5B70;
}

.text_2021 {
    font-weight: 600;
    font-size: 16px;
    color: #217BF4;
    margin: 1px 4px;
}

.go_to {
    font-weight: 500;
    font-size: 16px;
    color: #4A4A56;
    text-decoration: none;
    padding-bottom: 40px;
}
  
.awards_wrap {
    display: flex;
    flex-direction: column;
    margin: 36px auto auto 46px;
}


@media screen and (max-width: 769px) {
    .achievements_cont {
        display: flex;
        align-items: center;
        margin: 50px auto;
        flex-direction: column;
    }

    .awards, .rating{
        margin-right: 0;
    }

    .our_achiv button {
        margin: 0 auto;
    }
    .three_img {
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .about_company_text {
        margin: auto;
    }

    .about_company_undertitle {
        text-align: center;
    }

    .about_company_title {
        text-align: center;
    }

    .three_img > img {
        margin: auto;
        width: 100%;
        margin-top: 20px;
    }

    .about_company_subtitle {
        text-align: center;
    }

    .three_img_two {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .three_img_two img {
        margin-top: 20px;
    }
    .our_achiv {
        display: flex;
        flex-direction: column;
    }
}

/* Features */

.features {
    display: flex;
    margin-top: 55px;
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
    margin-bottom: 46px;
}

.features_cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.our_comm {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #217BF4;
    margin-bottom: 9px;
}

.main_feat {
    text-align: center;
    line-height: 36px;
    font-size: 36px;
    font-weight: 700;
    color: #0A093D;
    margin-bottom: 19px;
}

.feat_par {
    text-align: center;
    max-width: 421px;
    font-size: 16px;
    font-weight: 400;
    margin: auto auto 64px auto;
}

.six_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block {
    display: flex;
    max-width: 522px;
    height: 182px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 14px;
    margin-bottom: 44px;
    transition: 0.3s;
}

.block:hover {
    box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.group_icon {
    margin: 28px 16px auto 20px;
}

.block_column {
    display: flex;
    flex-direction: column;
}

.block h2 {
    margin-top: 46px;
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 24px;
    color: #2F2C4A;
}

.block p {
    max-width: 315px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #656464;
}

/* Our Team */

.our_team {
    margin-bottom: 46px;
}

.our_team_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valuable {
    color: #217BF4;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.substrate_btn {
    display: flex;
    justify-content: space-between;
    max-width: 474px;
    width: 100%;
    background-color: rgba(33, 123, 244, 0.06);
    height: 72px;
    border-radius: 14px;
    padding: 8px 8px;
    margin-bottom: 44px;
}

.substrate_btn button {
    padding: 20px 50px;
    font-size: 16px;
    color: #2F2C4A;
    background-color: transparent;
    border: 0;
    border-radius: 14px;
    transition: 0.3s;
}

.substrate_btn button:hover {
    background-color: #217BF4;
    color: #FFFFFF;
    /* font-weight: 600; */
    font-size: 16px;
    box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
}

.team_cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card_user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px rgba(243, 243, 243, 0.5) solid;
    max-width: 270px;
    height: 316px;
    width: 100%;
    border-radius: 14px;
    transition: 0.3s;
}

.card_user:hover {
    border: 0;
    box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
    border: 2px #FFFFFF solid;
}

.img_over {
    position: absolute;
    margin: 30px 52px;
}

.img_under {
    width: 142px;
    height: 142px;
    margin: 42px 64px;
}

.team_cards h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(47, 44, 74, 1);
    margin-bottom: 14px;
}

/* CTA */

.cta {
    background-color: #E5F0FD;
    margin-bottom: 96px;
}

.cta_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cta_content h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #217BF4;
    margin-top: 122px;
}

.cta_content h2 {
    max-width: 351px;
    font-size: 36px;
    font-weight: 700;
    color: #0A093D;
    line-height: 52px;
    margin-bottom: 18px;
}

.cta_content p {
    max-width: 341px;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 36px;
}

.stores {
    display: flex;
    max-width: 309px;
}

.stores img {
    height: 52px;
    margin-right: 20px;
}

.phone {
    display: flex;
    max-width: 440px;
    align-items: flex-end;
}
.phone img {
    padding-top: 44px;
    max-width: 740px;
    width: 100%;
    /* height: 500px; */
    
}

@media screen and (max-width: 769px){
    .cta_content {
        justify-content: center;
    }
}

/* Blog */

.blog {
    margin-bottom: 96px;
}

.blog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.blog_img {
    max-width: 340px;
    width: 100%;
}

.blog_content h4 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #217BF4;
    margin-bottom: 10px;
}

.blog_content h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #0A093D;
    margin-bottom: 74px;
}

.photos_blog {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo_blok {
    display: flex;
    flex-direction: column;
}

.micro_line {
    width: 39px;
    height: 2px;
    margin-top: 46px;
    margin-right: 14px;
}

.photo_blok h3 {
    max-width: 273px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: #2F2C4A;
    margin-top: 25px;
    margin-bottom: 24px;
}

.photo_blok div {
    display: flex;
}

.photo_blok a {
    text-decoration: none;
    margin-left: 55px;
}

.photo_blok a:hover {
    color: #217BF4;
}

@media screen and (max-width: 769px) {
    .photos_blog {
        flex-direction: column;
        align-items: center;
    }

    .photo_blok {
        margin-bottom: 40px;
    }
}

/* Footer */
footer {
    background-color: #2B2B39;
}

.footer_second {
    height: 96px;
    background-color: #20202D;
    margin-top: 85px;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
}

.four_txt_block {
    display: flex;
    max-width: 668px;
    width: 100%;
    justify-content:space-between;
    margin-top: 78px;
    margin-right: 163px;
}

.footer_text h4{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.footer_text h5 {
    color: #E7E7E7;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
}

.subscribe_block h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 179px;
    color: white;
    margin-top: 78px;
    margin-bottom: 18px;
}

.subscribe_block h5 {
    color: #E7E7E7;
    max-width: 299px;
    margin-bottom: 32px;
}

.subscribe_block input {
    max-width: 213pxpx;
    width: 100%;
    height: 49px;
    background-color: transparent;
    border: 1px #FFFFFFD9 solid;
    border-radius: 12px 0 0 12px;
    padding-left: 24px;
    color: #FFFFFF;
}

.subscribe_block input::placeholder {
    color: #717179;
}

.subscribe_block button {
    padding: 16px 24px;
    color: #2B2B39;
    font-weight: 500;
    font-size: 16px;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0 12px 12px 0;
}

.subscribe_input {
    display: flex;
}

/* Footer second */

.footer_second_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
}

.footer_second_content h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.footer_second_content h4 {
    color: #F6F6F6;
}

.social_media {
    margin-left: 8px;
}

.logo_footer {
    display: flex;
    align-items: center;
}

.logo_footer_img {
    margin-right: 6px;
}

@media screen and (max-width: 769px) {
    .four_txt_block {
        margin: 50px auto;
    }
    .footer_content {
        padding: 0 25px;
        justify-content: center;
    }
    .subscribe_block h4 {
        margin: 0 auto 18px auto;
        text-align: center;
    }

    .subscribe_block h5 {
        text-align: center;
    }
}

.login_form_cont {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2B2B39;
    z-index: 5;
}

.login_form_cont.active {
    display: block;
}

.login_form {
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 480px;
    border-radius: 20px;
    background-color: white;
    margin: 100px auto 0 auto;
}

.login_form.visibility {
    display: none;
}

.login_form h3 {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    color: #217BF4;
    margin-bottom: 30px;
}

.login_form input {
    width: 350px;
    height: 60px;
    margin: 10px auto;
    border-radius: 40px;
    border: 2px #828282 solid;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 600;
}

.login_form input::placeholder {
    font-size: 20px;
    font-weight: 600;
    color: #ABAAAA;
}

.login_form input:focus-within {
    outline: none;
}

.login_form a {
    color: #0A093D;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}

#error_login {
    display: none;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    color: red;
}

#error_login.active {
    display: inline;
}

.login_form button {
    width: 174px;
    height: 54px;
    border: 1px #217BF4 solid;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    color: #217BF4;
    background-color: transparent;
    transition: 0.3s;
}

.login_form button:hover {
    background-color: #217BF4;
    color: #FFFFFF;
}

.login_signup {
    display: flex;
    justify-content: space-around;
    margin: 40px 30px 0 30px;
}

.signup_form {
    display: none;
    flex-direction: column;
    width: 470px;
    height: 480px;
    background-color: #FFFFFF;
    margin: 100px auto 0 auto;
    border-radius: 20px;
    
}

.signup_form.visibility {
    display: flex;
}

.signup_form h3 {
    text-align: center;
    padding-top: 50px;
    font-size: 32px;
    font-weight: 800;
    color: #217BF4;
    margin-bottom: 30px;
}

.cross {
    position: absolute;
    z-index: 6;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    }
    .cross:hover {
    opacity: 1;
    cursor: pointer;
    }
    .cross:before, .cross:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
    }
    .cross:before {
    transform: rotate(45deg);
    }
    .cross:after {
    transform: rotate(-45deg);
    }

.back_to_login {
    width: 70px;
    height: 35px;
    background-color: transparent;
    border: 1px #217BF4 solid;
    border-radius: 10px;
    font-weight: 600;
    color: #217BF4;
    margin: 10px 10px;
    transition: 0.3s;
}

.back_to_login:hover {
    background-color: #217BF4;
    cursor: pointer;
    color: #FFFFFF;
}

.signup_form input {
    width: 350px;
    height: 60px;
    margin: 10px auto;
    border-radius: 40px;
    border: 2px #828282 solid;
    padding-left: 30px;
    font-size: 30px;
    font-weight: 600;
}
.signup_form input::placeholder {
    font-size: 20px;
    font-weight: 600;
    color: #ABAAAA;
}
.signup_form input:focus-within {
    outline: none;
}

.signup_btn.visible {
    display: none;
}

#register_btn {
    width: 174px;
    height: 54px;
    border: 1px #217BF4 solid;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
    color: #217BF4;
    background-color: transparent;
    transition: 0.3s;
    margin: 50px auto;
}

#register_btn:hover {
    background-color: #217BF4;
    color: #FFFFFF;
}

#error_msg {
    display: none;
    text-align: center;
    font-weight: 600;
    color: red;
}
#error_msg.active {
    display: inline;
}

.signup_btn {
    width: 123px;
    height: 50px;
    border: 1px #217BF4 solid;
    background-color: transparent;
    border-radius: 14px;
    font-weight: 600;
    color: #217BF4;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}

.signup_btn:hover {
    background-color: #217BF4;
    color: white;
}


.user_logo {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #217BF4 solid;
    background-color: white;
    color: transparent;
    transition: 0.3s;
    background-image: url(../img/Sample_User_Icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.user_logo:hover {
    background-color: #e74c3c;
    cursor: pointer;
    width: 123px;
    border-radius: 14px;
    color: white;
    border: 1px #e74c3c solid;
    background-image: none;
    
}

.user_logo.active {
    display: inline-block;
}

